[Desktop Entry]
Version=1.0
Type=Application
Name=Inspection Development
Comment=Connect to MoveIt2 Docker container
Exec=terminator --new-tab -e "bash -c 'source ~/.local/share/applications/inspection/.env && ~/.local/share/applications/inspection/moveit2_docker.sh; exec bash'"
Terminal=false
Categories=Development;

